<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <section name="redisClientSection"  type="Beetle.Redis.RedisClientSection,Beetle.Redis,Version=1.0.0.0,
             Culture=neutral,PublicKeyToken=null"/>
  </configSections>

  <redisClientSection dB="0" xmlns="urn:Beetle.Redis">
    <writes>
      <add host="127.0.0.1" connections="9"/>
    </writes>
    <reads>
      <add host="127.0.0.1" connections="9"/>
    </reads>
  </redisClientSection>
</configuration>